header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
}

header.scrolled {
    background-color:#deedf8;
    box-shadow: 0 0 5px #00000080;
}

#mainHeader {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.mainHeaderLogo {
    /* flex-grow: 1; */
    padding-left: 2%;
    overflow: hidden;
    height: 3rem;
}

.mainHeaderLogo img {
    height: 100%;
}

.scrolled .nScroll{
    display: none;
}
.Scroll{
    display: none;
}
.scrolled .Scroll{
    display:inline;
}

.headernav {
    display: flex;
    align-items: center;
}

/* Style the links inside the navigation bar */
.headernav a {
    padding: 0 0.75rem;

    /* // float: left; */
    font-weight:bold;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    /* // margin: 10px 10px;*/
    margin-top:0;
    /* // padding: 4px 6px;*/
    text-decoration: none;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.scrolled a {
    color: var(--ichthusBlauw);
}

.headernav a:hover{
    background-color: #ffffff2f;
    border-radius: 0.5rem;
}

/* Hide the link that should open and close the topnav on small screens */
.headernav .icon {
    display: none;
}

@media screen and (max-width: 43.75rem) {
     .headernav a/*:not(:first-child) */ {
        display: none;
    } 

    .headernav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 43.75rem) {
    .headernav.responsive {
        position: relative;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items:end;
        background-color: black;
        border-radius: 5px;
    }

    .headernav.responsive .icon {
        position: absolute;
        right: 0;
        top: -2.5rem;
    }

    .headernav.responsive a {
        display: block;
        text-align: left;
        margin: 0.5rem 0;
    }
    
}