:root {
  --ichthusBlauw: #006b85;
  --ichthusLichtblauw: #deedf8;
  --ichthusOranje: #ef7911;
  --ichthusZwart: #171717;
  --codeBlockBackground: #2d2d2d; /* 2d2d2d */

  /* Deze komen van ichthuslyceum.nl */
  --tekstkleur: #4f4f4f;
  --global-palette5: #4f4f4f;
  --global-palette6: #e5e5e5;
  --global-palette7: #ffe386;
  --global-palette9: #ffffff;
  --global-palette9rgb: 255, 255, 255;

  --global-content-width: 1200px;
  --global-content-edge-padding: 4rem;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Roboto Slab', serif;
  background-color: #f8f8f8;
  color: var(--ichthusZwart);
  line-height: 1.6;
}

p{
  color: var(--tekstkleur);
}

/* Hero section */
#FrontImage {
  position: relative;
  width: 100%;
  text-align: center;
  /* padding-bottom: 250px; */
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat:space;
  background-color: #1f10026e;/*rgba(200,100,0,.5);*/
  background-blend-mode: multiply;
  
}
#FrontImage p {
  color: #fff;
}

.bluefadeOverlay {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 50%;

  background: linear-gradient(to top, #00000000 40%, var(--ichthusBlauw) 150%);
}

.content {
  max-width: var(--global-content-width, 1200px);
  padding-left: var(--global-content-edge-padding);
  padding-right: var(--global-content-edge-padding);
  margin:auto;
}

/* .fadeOnScroll{
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition-delay: 0.4s;

}
.fadeOnScroll.show{
  opacity: 1;
  filter: blur(0);
} */


/* --------------- */
/* sectionDividers */
/* --------------- */

.sectionDivider-bottom, .sectionDivider-top{
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.sectionDivider-top {
  top: 0;
  left: 0;
}

.sectionDivider-bottom {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

.sectionDivider-bottom svg, .sectionDivider-top svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 10vw;
}

#FrontImage h1 {
  font-size: 3rem;
  font-weight: 500;
}

.gallery{
  display: flex;
  grid-gap: 1rem;
  flex-wrap: wrap;
  justify-content: left;
}
.gallery a {
  display: inline-block;
  border-radius: 10%;
  background-color:white;
  list-style-type:none;
  padding: 0.5rem;
  flex-basis: calc(16.6% - 1rem);
  min-width: 8rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in-out;
}

.gallery a:hover{
  border-radius: 5%;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.gallery a img{
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  object-fit:contain;
  border-radius:10%;
  background-color: white;
}

#headerBackground{
  background-color: var(--ichthusBlauw);
  height: 5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid var(--ichthusBlauw);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -120px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.alert {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid;
}
.alert.warning{
  background-color: #fffbe1;
  border: 2px solid #ffd42a;
}
.alert.info{
  background-color: #e1faff;
  border: 2px solid #2ab1ff;
}

/* HEADER */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 1rem;
  transition: all 0.1s ease-in-out;
}

header.scrolled {
  background-color:#deedf8;
  box-shadow: 0 0 5px #00000080;
}

#mainHeader {
  display: flex;
  justify-content:space-between;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.mainHeaderLogo {
  /* flex-grow: 1; */
  padding-left: 2%;
  overflow: hidden;
  height: 3rem;
}

.mainHeaderLogo img {
  height: 100%;
}

.scrolled .nScroll{
  display: none;
}
.Scroll{
  display: none;
}
.scrolled .Scroll{
  display:inline;
}

.headernav {
  display: flex;
  align-items: center;
}

/* Style the links inside the navigation bar */
.headernav a {
  padding: 0 0.75rem;

  /* // float: left; */
  font-weight:bold;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  /* // margin: 10px 10px;*/
  margin-top:0;
  /* // padding: 4px 6px;*/
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;
}

.scrolled a {
  color: #006b85;
}

.headernav a:hover{
  background-color: #ffffff2f;
  border-radius: 0.5rem;
}

/* Hide the link that should open and close the topnav on small screens */
.headernav .icon {
  display: none;
}

@media screen and (max-width: 43.75rem) {
   .headernav a/*:not(:first-child) */ {
      display: none;
  } 

  .headernav a.icon {
      float: right;
      display: block;
  }
}

@media screen and (max-width: 43.75rem) {
  .headernav.responsive {
      position: relative;
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items:end;
      background-color: black;
      border-radius: 5px;
  }

  .headernav.responsive .icon {
      position: absolute;
      right: 0;
      top: -2.5rem;
  }

  .headernav.responsive a {
      display: block;
      text-align: left;
      margin: 0.5rem 0;
  }
  
}